/* base page */
body {
    background-color: white;
}

.navbar-brand {
    font-family: 'cairo', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.nav-link:active,
.nav-link:hover  {
    font-weight: bold;
    text-decoration: underline;
}

.foot-bg {
    background-color: #23BBBB;
}

.main-bg {
    background-color: #FFFFFF;
}

.cupcake-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

/* Index page */
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.card-title {
   height: 60px;
}

.name-tag {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 45vh;
    width: 100%;
}

.masthead-text {
    background-color: #23BBBB;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.postimage {
    width: 100%;
}

.post-link {
    text-decoration: none;
    color: #468499;
}

.post-link:hover,
.page-link {
    color: navy;
}

/* posts page */
.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #FFFFFF;
}

/* Signup Page */
.btn-register {
    background-color: #23BBBB;
    color: #FFFFFF;
}

.btn-register:hover,
.btn-register:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #468499;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


/* Creating Posts */
.recipe-heading {
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: #468499;
}

.recipe-form {
  margin-bottom: 10px;
  margin-top: 1.3em;
}

/* About Us Page */
.about-heading {
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: #468499;
}

.about {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    margin: 10px;
}

.cupcake {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -3px;
    text-decoration: none;
}

/* a.about-cupcake > img {
    text-decoration: none;
} */


/* Update and Delete Posts */
.user-btn{
    color: #FFFFFF;
    background-color: #23BBBB;
    display:inline-block;
    margin-bottom: 10px;
}

.delete {
    color: #ffffff;
    background-color: #f70909;
}

.delete-text {
    text-align: center;
    display: block;
}

/* Recipe Details Page */
.comment {
    justify-content: space-evenly;
}