{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="about-heading">About Us</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <p> Sweet Treats is a platform that allows those with a love of
             baking and all things sweet to share and discover new and exciting
            recipes.
        </p>
        <p> When creating your delicious recipes please use the bullet point 
            or numbered list options when filling in the Ingredients and Instructions 
            sections to ensure your post is displayed correctly.
        </p>
    </div>
</div>
{%endblock%}