{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="about-heading">About Us</h1>
</div>
<div class="container-fluid col-md-8 card mb-4 mt-3 border border-info">
    <div class="row about">
        <div class="row">
            <p> <strong>Sweet Treats</strong> is a platform that allows those with a love of
                baking and all things sweet to share and discover new and exciting
                recipes.
            </p>
            <p>
                Why not login or create a new account to share your favourite bakes or
                to find new ones to try out at home!
            </p>
        </div>
        <div class="row">
            <h5>Top Tips:</h5>
            <ol>
                <li>To navigate this site please use the Recipe button or click
                    <a href="/">
                        <img class="cupcake"
                            src="https://res.cloudinary.com/amyd/image/upload/t_media_lib_thumb/v1657711691/Carrot-Cupcakes.jpg">
                    </a>to go back to the home page full of delicious recipes for you to explore!
                </li>
                <li> When creating your delicious recipes please use the bullet point
                    or numbered list options when filling in the Ingredients and Instructions
                    sections to ensure your post is displayed correctly.
                </li>
            </ol>
        </div>
    </div>
</div>
{%endblock%}