{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <h1 class="recipe-heading">Create Your Recipe Here!</h1>
</div>

{% if user.is_authenticated %}
<div class=" row recipe-form">
    <p>Posting as: {{ user.username }}</p>
    <form method="post" class="col-md-4 card mx-auto">
        {% csrf_token %}
        {{ recipe_form }}
        <input type="submit" class="btn btn-register btn-lg" value="Submit">
    </form>
</div>
{% endif %}

{% endblock %}