{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated and user.id == post.author.id %}

<div class="container position-relative">
    <div class="row">
        <div class="col">
            <h1>Edit Your Recipe</h1>
            <form method="post" class="col-md-4 card mb-4  mt-3 recipe-form">
                {% csrf_token %}
                {{ UpdateRecipeForm | crispy }}
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}